*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#fff;
color:#000;
transition:0.3s;
}

.dark-mode{
background:#111;
color:#fff;
}

header{
background:#000;
color:#fff;
padding:12px 0;
position:sticky;
top:0;
z-index:1000;
}

.header-container{
display:flex;
align-items:center;
justify-content:space-between;
width:95%;
margin:auto;
flex-wrap:wrap;
}

.logo-box{
display:flex;
align-items:center;
gap:10px;
}

.header-logo{
height:55px;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
font-size:14px;
}

nav a:hover{
color:gold;
}

.toggle-btn{
background:gold;
border:none;
padding:6px 10px;
cursor:pointer;
border-radius:5px;
}

.hero{
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c');
background-size:cover;
background-position:center;
color:white;
text-align:center;
padding:120px 20px;
}

.hero-logo{
width:120px;
margin-bottom:20px;
}

.gold-btn{
background:gold;
color:black;
padding:12px 25px;
text-decoration:none;
border-radius:5px;
font-weight:bold;
display:inline-block;
margin-top:15px;
}

.badge{
margin-top:25px;
background:gold;
color:black;
padding:8px 20px;
display:inline-block;
border-radius:25px;
font-weight:bold;
}

section{
padding:70px 20px;
text-align:center;
}

.pricing-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
width:90%;
margin:auto;
}

.price-card{
background:#f4f4f4;
padding:25px;
border-radius:10px;
transition:0.3s;
}

.price-card:hover{
transform:translateY(-8px);
}

.highlight{
border:3px solid gold;
}

.price{
color:goldenrod;
font-weight:bold;
font-size:20px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
width:90%;
margin:auto;
}

.gallery img{
width:100%;
border-radius:10px;
}

.calc-box input{
padding:10px;
margin:5px;
width:150px;
}

.calc-box button{
padding:8px 15px;
background:gold;
border:none;
cursor:pointer;
}

.review-card{
background:#f4f4f4;
padding:20px;
margin:15px auto;
width:80%;
border-radius:10px;
}

.contact-info{
margin-top:20px;
font-weight:bold;
}

footer{
background:#000;
color:white;
padding:20px;
text-align:center;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50%;
text-decoration:none;
font-size:22px;
}

.sticky-call{
position:fixed;
bottom:80px;
right:20px;
background:red;
color:white;
padding:12px 20px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}
